<?xml version="1.0"?>
<launch>
  <arg name="world" default="boxes3" />

  <group ns="robot0">
    <param name="filename" value="$(find planning_worlds)/worlds/maps/$(arg world)/R1_MPP.txt"/>
    <param name="robotid" value="0"/>
    <param name="metricpath" value="True"/>
    <node name="robot0_path_viewer" pkg="multiple_robot_navigation" type="path_publisher.py">
    </node>
    <node name="robot0_goals_publisher" pkg="multiple_robot_navigation" type="goal_publisher.py">
    </node>
  </group>

  <group ns="robot1">
    <param name="filename" value="$(find planning_worlds)/worlds/maps/$(arg world)/R2_MPP.txt"/>
    <param name="robotid" value="1"/>
    <param name="metricpath" value="True"/>
    <node name="robot1_path_viewer" pkg="multiple_robot_navigation" type="path_publisher.py">
    </node>
    <node name="robot1_goals_publisher" pkg="multiple_robot_navigation" type="goal_publisher.py">
    </node>
  </group>
 </launch>
