<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <include file="$(find planning_worlds)/launch/merge_from_map_server.launch" >
    <arg name="map1" default="$(find planning_worlds)/maps/boxes5/robot1_map.yaml"/>
    <arg name="map2" default="$(find planning_worlds)/maps/boxes5/robot2_map.yaml"/>
  </include>

  <!-- static_transform_publisher x y z qx qy qz qw frame_id child_frame_id  period_in_ms -->
  <node pkg="tf" type="static_transform_publisher" name="odom_robot1_2_map" args="0 0 0 0 0 0 1 /map /robot1 100"/>
  <node pkg="tf" type="static_transform_publisher" name="odom_robot2_2_map" args="0 0 0 0 0 0 1 /map /robot2 100"/>
  <node pkg="tf" type="static_transform_publisher" name="odom_world_2_map" args="0 0 0 0 0 0 1 map world 100"/>

  <group ns="/robot1/map_merge">
    <param name="init_pose_x" value="0.0"/>
    <param name="init_pose_y" value="0.0"/>
    <param name="init_pose_z" value="0.0"/>
    <param name="init_pose_yaw" value="0.0"/>
  </group>
  <group ns="/robot2/map_merge">
    <param name="init_pose_x" value="0.0"/>
    <param name="init_pose_y" value="0.0"/>
    <param name="init_pose_z" value="0.0"/>
    <param name="init_pose_yaw" value="0.0"/>
  </group>

</launch>
