<?xml version="1.0"?>
<launch>
  <arg name="base_frame"  default="link_chassis"/>
  <arg name="namespace2" default="robot2_tf/robot2"/>
  <arg name="tfpre2"  default="$(arg namespace2)"/>

  <param name="robot2_description" command="$(find xacro)/xacro --inorder '$(find untamo_description)/urdf/untamo.xacro'
    nsp:=$(arg namespace2)
    tfpre:=$(arg tfpre2)
    " />

  <!-- Launch rviz with config file -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find multiple_robot_navigation)/rviz_config/single_config.rviz"> </node>

</launch>
